In [2]:
import pandas as pd
import numpy as np

from datetime import datetime

import locale
locale.setlocale(locale.LC_ALL,'')

'Spanish_Mexico.1252'

In [3]:
df = pd.read_excel("data.xlsx",'data')
df["Fecha "] = pd.to_datetime(df["Fecha "], dayfirst=True)

In [4]:
dfA1 = df[df["Almacén "] == 1][["Fecha ","Cantidad "]]
dfA2 = df[df["Almacén "] == 2][["Fecha ","Cantidad "]]

In [25]:
wep = dfA2.groupby("Fecha ").sum()
wep["Cantidad "] = wep["Cantidad "] *-1
wep["Dias "] = 1
wep["Probabilidad "] = 1 / wep["Cantidad "].count()
tabla = wep.groupby("Cantidad ").agg({"Dias ":'count',"Probabilidad ":'sum'})

In [34]:
tabla["Si-dias "] = tabla["Dias "].cumsum()
tabla["No-dias "] = tabla["Dias "].sum() - tabla["Si-dias "]
tabla["Si-% "] = tabla["Si-dias "] / tabla["Dias "].sum()
tabla["No-% "] = tabla["No-dias "] / tabla["Dias "].sum()

tabla

           Dias   Probabilidad   Si-dias   No-dias      Si-%      No-%
Cantidad
0              2       0.006061         2       328  0.006061  0.993939
1             82       0.248485        84       246  0.254545  0.745455
2             64       0.193939       148       182  0.448485  0.551515
3             63       0.190909       211       119  0.639394  0.360606
4             36       0.109091       247        83  0.748485  0.251515
5             20       0.060606       267        63  0.809091  0.190909
6             16       0.048485       283        47  0.857576  0.142424
7             13       0.039394       296        34  0.896970  0.103030
8              6       0.018182       302        28  0.915152  0.084848
9              6       0.018182       308        22  0.933333  0.066667
10             3       0.009091       311        19  0.942424  0.057576
11             3       0.009091       314        16  0.951515  0.048485
12             3       0.009091       317        13  0.960606  0.039394
13             3       0.009091       320        10  0.969697  0.030303
14             1       0.003030       321         9  0.972727  0.027273
15             2       0.006061       323         7  0.978788  0.021212
16             1       0.003030       324         6  0.981818  0.018182
17             1       0.003030       325         5  0.984848  0.015152
18             1       0.003030       326         4  0.987879  0.012121
19             1       0.003030       327         3  0.990909  0.009091
22             1       0.003030       328         2  0.993939  0.006061
25             1       0.003030       329         1  0.996970  0.003030
26             1       0.003030       330         0  1.000000  0.000000

In [77]:
tabla[tabla["Si-% "] > .95].iloc[0:1]

           Dias   Probabilidad   Si-dias   No-dias      Si-%      No-%
Cantidad
11             3       0.009091       314        16  0.951515  0.048485