In [42]:
import pandas as pd
import numpy as np

import locale
locale.setlocale(locale.LC_ALL,'')

'Spanish_Mexico.1252'

In [43]:
df = pd.read_excel("data.xlsx",'data')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1516 entries, 0 to 1515
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Número de movimiento      1516 non-null   int64
 1   Documento                 1516 non-null   object
 2   Clave de artículo         1516 non-null   int64
 3   Descripción               1516 non-null   object
 4   Línea                     1516 non-null   object
 5   Clave cliente/proveedor   1516 non-null   object
 6   Concepto                  1516 non-null   int64
 7   Fecha                     1516 non-null   object
 8   Vendedor                  1494 non-null   float64
 9   Precio                    1516 non-null   float64
 10  Costo                     1516 non-null   float64
 11  Almacén                   1516 non-null   int64
 12  Tipo de documento         1516 non-null   object
 13  Costo operado             1516 non-null   float64
 14  Cantidad                  1516 non-null   int64
dtypes: float64(4), int64(5), object(6)
memory usage: 177.8+ KB

In [44]:
df["Clave de artículo "] = df["Clave de artículo "].astype(object)
df["Fecha "] = pd.to_datetime(df["Fecha "], dayfirst=True)
df["Cantidad "] = pd.to_numeric(df["Cantidad "])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1516 entries, 0 to 1515
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Número de movimiento      1516 non-null   int64
 1   Documento                 1516 non-null   object
 2   Clave de artículo         1516 non-null   object
 3   Descripción               1516 non-null   object
 4   Línea                     1516 non-null   object
 5   Clave cliente/proveedor   1516 non-null   object
 6   Concepto                  1516 non-null   int64
 7   Fecha                     1516 non-null   datetime64[ns]
 8   Vendedor                  1494 non-null   float64
 9   Precio                    1516 non-null   float64
 10  Costo                     1516 non-null   float64
 11  Almacén                   1516 non-null   int64
 12  Tipo de documento         1516 non-null   object
 13  Costo operado             1516 non-null   float64
 14  Cantidad                  1516 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(4), object(6)
memory usage: 177.8+ KB

In [45]:
dfA = df[df["Almacén "] == 1][["Fecha ","Cantidad "]]

dfprov = dfA.groupby("Fecha ").sum()
dfprov["Cantidad "] = dfprov["Cantidad "] *-1
dfprov["Dias "] = 1
dfprov["Probabilidad "] = 1 / dfprov["Cantidad "].count()

tabla = dfprov.groupby("Cantidad ").agg({"Dias ":'count',"Probabilidad ":'sum'})
tabla["Si-dias "] = tabla["Dias "].cumsum()
tabla["No-dias "] = tabla["Dias "].sum() - tabla["Si-dias "]
tabla["Si-% "] = tabla["Si-dias "] / tabla["Dias "].sum()
tabla["No-% "] = tabla["No-dias "] / tabla["Dias "].sum()

tabla

           Dias   Probabilidad   Si-dias   No-dias      Si-%      No-%
Cantidad
-4             1       0.003106         1       321  0.003106  0.996894
-3             1       0.003106         2       320  0.006211  0.993789
-1             3       0.009317         5       317  0.015528  0.984472
 0             4       0.012422         9       313  0.027950  0.972050
 1            67       0.208075        76       246  0.236025  0.763975
 2            62       0.192547       138       184  0.428571  0.571429
 3            52       0.161491       190       132  0.590062  0.409938
 4            35       0.108696       225        97  0.698758  0.301242
 5            22       0.068323       247        75  0.767081  0.232919
 6            17       0.052795       264        58  0.819876  0.180124
 7            12       0.037267       276        46  0.857143  0.142857
 8             4       0.012422       280        42  0.869565  0.130435
 9             2       0.006211       282        40  0.875776  0.124224
 10            6       0.018634       288        34  0.894410  0.105590
 11            7       0.021739       295        27  0.916149  0.083851
 12            3       0.009317       298        24  0.925466  0.074534
 13            2       0.006211       300        22  0.931677  0.068323
 14            3       0.009317       303        19  0.940994  0.059006
 15            1       0.003106       304        18  0.944099  0.055901
 16            3       0.009317       307        15  0.953416  0.046584
 18            1       0.003106       308        14  0.956522  0.043478
 20            2       0.006211       310        12  0.962733  0.037267
 22            1       0.003106       311        11  0.965839  0.034161
 23            1       0.003106       312        10  0.968944  0.031056
 24            1       0.003106       313         9  0.972050  0.027950
 25            1       0.003106       314         8  0.975155  0.024845
 30            1       0.003106       315         7  0.978261  0.021739
 33            2       0.006211       317         5  0.984472  0.015528
 35            1       0.003106       318         4  0.987578  0.012422
 37            1       0.003106       319         3  0.990683  0.009317
 40            1       0.003106       320         2  0.993789  0.006211
 55            2       0.006211       322         0  1.000000  0.000000

In [46]:
tabla[tabla["Si-% "] > .95].iloc[0:1]

           Dias   Probabilidad   Si-dias   No-dias      Si-%      No-%
Cantidad
16             3       0.009317       307        15  0.953416  0.046584

In [47]:
almacenes = [1,2]

writer = pd.ExcelWriter("stock-mínimo.xlsx", engine="openpyxl")
    
for almacen in almacenes:

    dfA = df[df["Almacén "] == almacen][["Fecha ","Cantidad "]]

    dfprov = dfA.groupby("Fecha ").sum()
    dfprov["Cantidad "] = dfprov["Cantidad "] *-1
    dfprov["Dias "] = 1
    dfprov["Probabilidad "] = 1 / dfprov["Cantidad "].count()

    tabla = dfprov.groupby("Cantidad ").agg({"Dias ":'count',"Probabilidad ":'sum'})
    tabla["Si-dias "] = tabla["Dias "].cumsum()
    tabla["No-dias "] = tabla["Dias "].sum() - tabla["Si-dias "]
    tabla["Si-% "] = tabla["Si-dias "] / tabla["Dias "].sum()
    tabla["No-% "] = tabla["No-dias "] / tabla["Dias "].sum()
    
    tabla.to_excel(writer, sheet_name=f"A{almacen}")

writer.close()
writer.handles = None